
vision_pack/darknet_cfg/yolo\.cfg

vision_pack/darknet_cfg/yolo\.weights

vision_pack/facemodel/face_net\.tf\.data-00000-of-00001

vision_pack/facemodel/VGG16_faster_rcnn_final\.model

vision_pack/facemodel/face_net\.tf\.meta

*.pyc

vision_pack/model/bvlc_reference_caffenet\.tf

vision_pack/model/model\.libsvm

vision_pack/model/model\.libsvm\.final

vision_pack/model/model\.libsvm\.jpop
